/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body.sidebar-open {
  @media (max-width: 768px) {
    overflow: hidden;
  }
}

body {
  background: linear-gradient(135deg,
      #10b68c,
      #103d25);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}